<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="logs/NLogErrors.txt" internalLogLevel="Error" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    
    <target name="file" xsi:type="File"
        layout="${longdate} [${level:uppercase=true}]: ${message} ${onexception:EXCEPTION \:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
        fileName="${basedir}/logs/${logger}.log"
        archiveFileName="${basedir}/logs/${logger}.{#}.log"
        archiveEvery="None"
        archiveNumbering="Rolling"
        maxArchiveFiles="30"
        concurrentWrites="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>

</nlog>
